.navcolors {
    background-color:  #b3b3cc;
    color: #3d3d5c;
}

.clicked {
    color:  #b3b3cc;
    background-color: #3d3d5c;
}

.polkadot {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#9292b9 0.75px, transparent 0.75px), radial-gradient(#9292b9 0.75px, #e5e5f7 0.75px);
    background-size: 32px 32px;
    background-position: 0 0,15px 15px;
    color: #3D3D5C;
}

.test {
    color: white; 
}

.red {
    color: #ff8080; 
}

.orange {
    color: #ff9966;
}

.yellow {
    color: #ffff5c; 
}

.green { 
    color: #99ff99;  
}

.teal {
    color: #70dbdb;
}

.blue {
    color: #4da6ff;
}

.purple {
    color: #bb99ff; 
}

.pink {
    color: #ffcce6;
}

.message.red {
    background-color: #ff8080; 
    color: #3d3d5c;
}

.message.orange {
    background-color: #ff9966;
    color: #3d3d5c;
}

.message.yellow {
    background-color: #ffff5c;
    color: #3d3d5c; 
}

.message.green { 
    background-color: #99ff99;
    color: #3d3d5c;  
}

.message.teal {
    background-color: #70dbdb;
    color: #3d3d5c;
}

.message.blue {
    background-color: #4da6ff;
    color: #3d3d5c;
}

.message.purple {
    background-color: #bb99ff;
    color: #3d3d5c; 
}

.message.pink {
    background-color: #ffcce6;
    color: #3d3d5c;
}

.gray {
    color: lightgray;
}

.CBtrue {
    color: #3d3d5c;
}

.CBtrue > svg > path {
   fill: #3d3d5c;
}

.nosharing {
    color: #e60000; 
}

.sharing {
    color: green; 
}

.isLow {
    color: blue; 
}

.initial.red {
    background-color: #ff8080;
    color: white;
    font-weight: bold; 
    text-align: center;  
}

.initial.orange {
    background-color: #ff9966;
    color: white; 
    font-weight: bold;
    text-align: center;  
}

.initial.yellow {
    background-color: #ffff5c; 
    color: white; 
    font-weight: bold;
    text-align: center;  
}

.initial.green {
    background-color: #99ff99;
    color: white; 
    font-weight: bold;
    text-align: center;  
}

.initial.teal {
    background-color: #70dbdb;
    color: white; 
    font-weight: bold;
    text-align: center;  
}

.initial.blue {
    background-color: #4da6ff;
    color: white; 
    font-weight: bold;
    text-align: center;  
}

.initial.purple {
    background-color: #bb99ff;
    color: white; 
    font-weight: bold;
    text-align: center;   
}

.initial.pink {
    background-color: #ffcce6;
    color: white; 
    font-weight: bold;
    text-align: center;  
}

.initial.CBtrue {
    background-color: #3d3d5c;
}


.pantryEditButton.red {
    background-color: #ff8080;
    color: #3d3d5c;
}

.pantryEditButton.orange{
    background-color: #ff9966;
    color: #3d3d5c;
}

.pantryEditButton.yellow {
    background-color: #ffff5c;
    color: #3d3d5c;
}

.pantryEditButton.green {
    background-color: #99ff99;
    color: #3d3d5c;
}

.pantryEditButton.teal {
    background-color: #70dbdb;
    color: #3d3d5c;
}

.pantryEditButton.blue {
    background-color: #4da6ff;
    color: #3d3d5c;
}

.pantryEditButton.purple {
    background-color: #bb99ff; 
    color: #3d3d5c; 
}

.pantryEditButton.pink {
    background-color: #ffcce6;
    color: #3d3d5c;
}

.pantryEditButton:hover {
    background-color: #3d3d5c;
    color: #b3b3cc;
}

.pantryEditButton.CBtrue{
    background-color: white;
}

.initial.CBtrue{
    background-color: #3D3D5C;
}

.piechartReds{
color: #ff8080;
color: #ff4d4d;
}

.piechartOranges{
    color: #ffbb99; 
    color: #ff9966; 
}

.piechartYellows{
    color: #ffff99; 
    color:#ffff33; 
}

.piechartGreens{
    color:#99ff99;
    color: #66ff66; 
}

.piechartTeals{
    color: #70dbdb;
    color: #33cccc;
}

.piechartBlues{
    color: #80bfff;
    color:#4da6ff;
}

.piechartPurples{
    color: #bb99ff;
    color: #9966ff; 
}

.piechartPinks {
    color: #ffcce6;
    color: #ff99ce; 
}