.groceryListPage {
    text-align: left; 
}

h1 {
    text-align: center;
    margin: auto; 
}

.groceryIntro {
    display: flex; 
    justify-content: space-between; 
}

ul {
    list-style: none;
    padding-inline-start: 5px; 
}

.groceryCategory {
    border-top: 1px gray solid;
}

.groceryButton {
    padding: 10px;
    height: fit-content; 
    margin: 5px;
}

.groceryButtonArea {
    display: flex;
    flex-direction: row; 
}

.initial {
    border-radius: 100%; 
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    display: inline-block; 
    width: 15px; 
}

#groceryAddButton { 
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    margin-right: 3px;
    font-size: larger; 
}

#groceryAddForm {
    display: flex;
    flex-direction: row; 
    margin-bottom: 5px; 
    margin-left: 5px; 
}

#addItemForm { 
    border-radius: 5%; 
    background-color: #d0d0e1;
    padding: 10px; 
    margin: 0 auto; 
    width: 50%;
    display: flex;
    flex-direction: column;
}

.groceryAddForm {
    padding-bottom: 5px; 
}

.addSubmitButton {
    align-self: center; 
    background-color: #3d3d5c;
    color: #b3b3cc;
    margin-top: 2px;
}

fieldset {
    border-radius: 5%; 
    border: gray 1px solid; 
    width: fit-content; 
    text-align: left; 
    margin-bottom: 5px;
}

#categorylabel {
    justify-content: left; 
}

input#ownership {
    justify-content: end;
}

label {
    display: flex;
    justify-content: max-content; 
}

.editForm {
    background-color: #d0d0e1; 
    padding: 5px 10px 10px 10px;
    border-radius: 5%; 
    width: auto;
}

.groceryEdit {
    display: inline-block; 
    width: fit-content; 
}

.groceryItems {
    margin: 2px;
}

@media screen and (max-width: 800px) {
    .groceryListPage {
        padding-left: 5px; 
    }

    .groceryTop > h1 { 
        font-size: 2.2em; 
        margin: auto;
    }
    .groceryIntro {
        flex-direction: column-reverse; 
        flex-wrap: wrap;
    }
    .instructions {
        text-align: center; 
    }

    .groceryButtonArea{
        display: flex;
        flex-direction: column;
    }
    .spacer{
        display: none; 
    }

    #addItemForm{
        width: auto;
    }

    .addSubmitButton {
        align-items: center; 
    }

    .delete {
        text-align: right; 
    }
    
}