.groceryListPage {
    text-align: left; 
}

h1 {
    text-align: center;
    margin: auto; 
}

.groceryIntro {
    display: flex; 
    justify-content: space-between; 
    border-bottom: gray 1px solid; 
}

.groceryAddForm { 
    border-bottom: gray 1px solid; 
}

ul {
    list-style: none;
    padding-inline-start: 5px; 
}

.groceryCategory {
    border-bottom: 1px gray solid;
}

.groceryButton {
    padding: 10px;
    height: fit-content; 
}

span {
    border-radius: 50%; 
    padding: 2px 3px 2px 4px;
    margin-right: 2px;
}

span.red {
    background-color: red; 
    color: white; 
}

span.purple {
    background-color: purple;
    color: white; 
}

#groceryAddButton { 
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    margin-right: 3px;
    font-size: larger; 
}

#groceryAddForm {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
}

#addItemForm { 
    border-radius: 5%; 
    background-color: #F9F9F9;
    padding: 10px; 
    margin: 0 auto; 
    width: 50%;
    display: flex;
    flex-direction: column;
}

.addSubmitButton {
    align-self: center; 
}

fieldset {
    border-radius: 5%; 
    border: gray 1px solid; 
    width: fit-content; 
    text-align: left; 
}

fieldset >  label {
    justify-content: left; 
}

input#ownership {
    justify-content: end;
}

label {
    display: flex;
    justify-content: space-between; 
}

@media screen and (max-width: 800px) {
    h1 { 
        font-size: 2em; 
        margin: auto;
    }
    .groceryIntro {
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    #addItemForm{
        width: auto;
    }
    .groceryButton {
        width: 45%; 
    }
}