nav {
    display: flex;
    flex-direction: column; 
    height: 100vw;
    width: 15%;
    float: left; 
    background-color: #b3b3cc;
    color: #3d3d5c;
    text-align: left; 
    position: fixed; 
  }

.navLink {
    border-bottom:#a3a3c2 2px solid; 
    padding: 5px;
    color: #3d3d5c;
}

.navLink::selection {
    background-color: #3d3d5c; 
    color: #b3b3cc;
}

.key {
    border-bottom:#a3a3c2 2px solid; 
    padding-left: 5px;
    color: #3d3d5c;
}

.key > a {
    color: #3d3d5c;
}

.navIcon {
    font-size: xxx-large; 
    margin: 15px;
    text-align: center; 
    color: #1e1e2f;
}

.navItems {
    display: flex;
    flex-direction: column; 
    margin-bottom: 5px;
    width: fill;
}

.accordion {
    font-weight: bold; 
    font-size: small;
    padding-right: 5px;
}

.accordion > li {
    font-weight: normal; 
    margin-inline-start: 10px;
    color: #1e1e2f; 
}

#noSharing > svg > path {
    fill: #e60000; 
}

#sharing > svg > path {
    fill: green; 
}

#isLow > svg > path {
    fill: blue; 
}

@media screen and (max-width: 800px) {
    nav {
        height: fit-content; 
        width: 100%; 
        text-align: center;
        position: sticky; 
        float: none;
    }

    .navItems {
        flex-direction: column; 
    }

    .key {
        padding-inline-start: 5px;
    }

    .navIcon {
        margin: 5px;
        font-size: xx-large;
    }
    
    .accordion {
        text-align: left; 
    }
}