nav {
    display: flex;
    flex-direction: column; 
    height: 100vw;
    width: 15%;
    float: left; 
    background-color: lightgray; 
    text-align: left; 
  }

.navLink {
    border-bottom:rgb(170, 170, 170) 2px solid; 
    padding: 5px;
}

.key {
    border-bottom:rgb(170, 170, 170) 2px solid; 
}

.navIcon {
    font-size: xxx-large; 
    margin: 15px;
    text-align: center; 
}

.navItems {
    display: flex;
    flex-direction: column; 
    margin-bottom: 5px;
    width: fill;
}

.accordion {
    font-weight: bold; 
    font-size: small;
    padding-right: 5px;
}

.accordion > li {
    font-weight: normal; 
    margin-inline-start: 10px;
}