
.pantryIntro {
    display: flex; 
    justify-content: space-between;
}

.weekH3 {
    color: gray; 
    margin-top: 2px; 
    text-align: left; 
}

.pantryAddForm {
    margin-bottom: 5px;
}

.pantryWeek {
    border-top: 1px gray solid; 
}

.pantryWeekItems {
    list-style: none; 
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.editPantryButtons {
    text-align: center; 
}

.pantryEditButton {
    font-size: x-large;
    padding: 5px; 
    border: solid 2px; 
    width:   42px;
    background-color: white; 
}

.itemIcons {
    display: flex;
    justify-content: center;
}

.alert {
    align-self: flex-start;
    font-size: medium;
    margin-inline: -5px; 
}

.isLow {
    margin-inline: auto; 
}

.itemName {
    border-radius: 0%;
    display: flex; 
    justify-content: center; 
}

.pantryItemDetail {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 25%;
    margin-bottom: 5px;
}

.pantryItemDetail > form > label {
    display: flex;
    flex-direction: column;
}

#setLow > svg > path {
    fill: blue;
}

#setShare > svg > path {
    fill: green; 
}

#setNoShare > svg > path {
    fill: red; 
}

#categoryFields > div > label {
    justify-content: left; 
}

#groceryCheck {
    flex-direction: row; 
    justify-content: center; 
}

.expiryDate {
    font-size: small;
}

@media screen and (max-width: 800px) {
    .pantryTop > h1 {
        font-size: 2.2em; 
        margin: auto; 
    }
    .pantryIntro {
        justify-content: center; 
        padding-bottom: 5px;
        flex-direction: column-reverse; 
    }
    .weekH3 {
        font-size: 1.3em;
        text-align: center; 
    }
    .pantryWeekitems {
        overflow: auto; 
        white-space: nowrap;
    }
    .pantryItemDetail {
        width: 50%; 
    }
    .edittrue {
        width: 100%; 
    }
}

/* 
DONE week names: h3, remove the second date, gray,  smaller top margin, left-align -> make sure grocery list h3s are black
DONE week sections: border-bottom gray (add border bottom to pantry intro, space-evenly instead of space-around
DONE item names: p, bold
root: width needs to change, do the side nav first and see
DONE icons: x-large, width: 42px
DONE add <p> Click on the category icon to edit the item! </p> 
DONE move add item button to correct placement
DONE add forms  - no border, light gray background, border radius 2% (also for input), align inputs/labels
DONE grocery list: set instructions to <p> w/ className instructions
*/