
.pantryIntro {
    display: flex; 
    justify-content: space-between;
}

.pantryTop {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#9292b9 0.75px, transparent 0.75px), radial-gradient(#9292b9 0.75px, #e5e5f7 0.75px);
    background-size: 32px 32px;
    background-position: 0 0,15px 15px;
    color: #3D3D5C;
    margin: 0 -5px;
    padding-top: 10px;
}

.weekH3 {
    color: gray; 
    margin-top: 2px; 
    text-align: left; 
}

.pantryAddForm {
    padding-bottom: 5px;
}

.pantryWeek {
    border-top: 1px gray solid; 
}

.pantryWeekItems {
    list-style: none; 
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.editPantryButtons {
    text-align: center; 
}

.pantryEditButton {
    font-size: x-large;
    padding: 5px; 
    border: solid 2px; 
    width:   42px;
    background-color: white; 
}

.itemIcons {
    display: flex;
    justify-content: center;
}

.alert {
    align-self: flex-start;
    font-size: medium;
    margin-inline: -5px; 
}

.isLow {
    margin-inline: auto; 
}

.itemName {
    border-radius: 0%;
    display: flex; 
    justify-content: center; 
}

.pantryItemDetail {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 25%;
    margin-bottom: 5px;
}

.pantryItemDetail > form > label {
    display: flex;
    flex-direction: column;
}

#setLow > svg > path {
    fill: blue;
}

#setShare > svg > path {
    fill: green; 
}

#setNoShare > svg > path {
    fill: red; 
}

#categoryFields > div > label {
    justify-content: left; 
}

#groceryCheck {
    flex-direction: row; 
    justify-content: center; 
}

.expiryDate {
    font-size: small;
}

@media screen and (max-width: 800px) {
    .pantryTop > h1 {
        font-size: 2.2em; 
        margin: auto; 
    }
    .pantryIntro {
        justify-content: center; 
        padding-bottom: 5px;
        flex-direction: column-reverse; 
    }
    .weekH3 {
        font-size: 1.3em;
        text-align: center; 
    }
    .pantryWeekitems {
        overflow: auto; 
        white-space: nowrap;
    }
    .pantryItemDetail {
        width: 50%; 
    }
    .edittrue {
        width: 100%; 
    }
}